@font-face {
    font-family: HelveticaCyr;
    src: url(../fonts/HelveticaNeueCyr-Roman.ttf);
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: HelveticaCyr;
    src: url(../fonts/HelveticaNeueCyr-Medium.ttf);
    font-weight: medium;
    font-weight: normal;
}